* {
    box-sizing: border-box;
}

:root{
    --lightPink: #F9E0F8;
  }

body{
    background: var(--lightPink) !important;
    /* font-family: 'Raleway', sans-serif !important; */
    font-family: 'Quicksand', sans-serif !important;
}

#name{
    font-family: 'Martel Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.navbar{
    font-family: 'Amatic SC', cursive;
    font-size: 27px;
}

.navb{
    color: #CA97D4;
}

.navb:hover{
    color: #99CCFF;
    text-decoration: none;
}

/* .navb:active {
  color: blue;
} */

.whiteBox{
    /* background-color: white; */
    /* float: left; */
    width: 500px;
    height: 300px;
    outline: thick solid #fafcfa;
    /* outline-color: white; */
    /* margin-left: 11rem; */
    margin-top: 5rem;
}

#gitClick{
    color: black;
}

#gitClick:hover{
    color: #99CCFF;
    text-decoration: none;
}